<h1> <%=firstname%> <%=lastname%>, What are we making change with today?</h1>


<form method="post" action="coins">
	<input type="number" name="total">
	<input type="submit" action="enter">
	<input type="hidden" name="firstname" value= "<%=firstname%>">
	<input type="hidden" name="lastname" value="<%=lastname%>">
</form>	

