<head>
<link rel= "stylesheet" href = "css/style.css">
<h1 class= "color size center"> Coin Changer</h1>


<ul>
	<li><a href = '/'> Login</a></li>
	<li><a href = '/names'> Name</a></li>
	<li><a href = '/coins'> Changer</a></li>
</ul>



</head>

<body class = "center"> 
<%=yield%>
</body>

<footer class = "center">
<a href = 'http://www.minedminds.org' target = "_blank">
MinedMinds Website</a></footer>
