 <h1> Enter First and Last name.</h1>

<form method = "post" action = "names">
<h1>Firstname <input type = "text" name = "firstname">
Lastname <input type = "text" name = "lastname">
<input type = "submit" value = "enter">
</form></h1>
