.color{
	color: black;
	background-color: blue;
    text-decoration: underline;
}
.size{
	font-size: 12vh;
	text-align:center;
}

h1{
	width: 100%;
}

ul{
	margin-left: 35%;
	padding: 0;
	width: 30%;
	font-size: 25px;
	text-align: center;
	background-image: url(/image/godzilla.jpeg);
}
	li{
		display: inline;
		margin-right: 1rem;
}

body{
	background-image: url(/image/coinback.jpeg);
	background-size: cover;
}
.center{
	text-align: center;
}