.color{
	color: gold;
	background-color: maroon;
    text-decoration: none;
}
.size{
	font-size: 12vh;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}

header{
	width: 100%;
	border: groove;
	border-color: gold;
	margin: 0;
	background-image: url(/image/illum.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 7%;

}


h1{
	width: 50%;
	margin-left: 25%;
	border: groove;
	border-color: gold;
	border-width: 8px;
	color: silver;
	text-align: center;
	clear: right;
}

head{

	clear: right;
	position
}



body{
	text-align: center;
	margin: 0;
	background-image: url(/image/reddragon.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}


footer{
	color: gold;
	position: fixed;
	bottom: 0;
	border: groove;
	border-color: maroon;
	height: 5%;
	width: 100%;
	margin-top: 10%;
	background-color: grey;
	opacity: 50%

}


ul{
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 3%;
	margin-right:1%;
	padding: 0.5rem;
	font-size: 4vh;
	text-align: center;
	
}
li a{
	display: inline;
	color: gold;
}

li a.active {
	background-color: black;
	color: white;
}

li a:hover:not(.active) {
	background-color: black;
	color: blue;
}
	li{
		display: inline;
		margin-right: 0;
}
}
}
}
}
}

	
